#include "Shared.xcconfig"

SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_TESTABILITY = NO
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
DEAD_CODE_STRIPPING = YES
VALIDATE_PRODUCT = YES
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO
